{% extends "admin/base_site.html" %}
{% load i18n static postgres_metrics %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:index' %}#postgres-metrics">{% trans 'PostgreSQL Metrics' %}</a>
    &rsaquo; {{ metrics_name|format_metrics_name|title }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<h1>{{ metrics_name|format_metrics_name|title }}</h1>

<div id="content-main">
    {% for metric in metrics %}
    <h2>{{ metric.alias }} ({{metric.dsn }})</h2>
    <div class="module" id="changelist">
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        {% for header in metric.headers %}
                        <th scope="col">
                            <div class="text">{{ header|format_metrics_name }}</div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in metric.records %}
                    <tr class="{% cycle 'row1' 'row2' %}">{% for item in result %}<td>{{ item }}</td>{% endfor %}</tr>
                    {% endfor %}
                    {% resetcycle %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
