{% extends "admin/index.html" %}
{% load i18n static postgres_stats %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "postgres_stats/css/base.css" %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "postgres_stats/css/rtl.css" %}{% endblock %}" />{% endif %}
{% endblock %}

{% block sidebar %}
{{ block.super }}

<div id="postgres-stats">
    <div class="app-postgres_stats module">
        <table>
            <caption>
                <a href="{% url "admin:index" %}#postgres-stats" class="section" title="{% trans 'PostgreSQL statistics' %}">{% trans 'PostgreSQL statistics' %}</a>
            </caption>
            <tbody>
                {% get_postgres_stats as postgres_stats %}
                {% for stat in postgres_stats %}
                {% url "postgres-stats:show" name=stat as stat_url %}
                <tr>
                    <th scope="row"><a href="{{ stat_url }}">{{ stat|format_stats_name|title }}</a></th>
                    <td><a href="{{ stat_url }}" class="viewlink">{% trans 'Show' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
