/*
 * Derived from Django's contrib.admin base.css
 * at 244cc401559e924355cf943b6b8e66ccf2f6da3a
 */
#postgres-metrics {
    float: left;
    width: 100%;
}

.colSM #postgres-metrics {
    float: right;
}

#postgres-metrics .viewlink {
    padding-left: 16px;
    background: url(../../admin/img/search.svg) 0 1px no-repeat;
}

tr.pgm-critical, td.pgm-critical {
    background-color: #ffefef;
}

tr.pgm-warning, td.pgm-warning {
    background-color: #ffffcc;
}

tr.pgm-ok, td.pgm-ok {
    background-color: #ddffdd;
}

tr.pgm-info, td.pgm-info {
    background-color: #9ADEFF;
}
